:root {
  --primary-color: #4caf50;
  --secondary-color: #f44336;
  --background-color: #f0f0f0;
  --text-color: #333;
  --box-padding: 50px;
  --box-border-radius: 10px;
}

.box {
  border: 1px solid black;
  border-radius: var(--box-border-radius);
  padding: var(--box-padding);
}

.flex-box {
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}

@media (max-width: 400px) {
  
  .flex-box {
    flex-direction: column;
    padding: calc(var(--box-padding) * 0.5);
    /* width: 100%; */
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

section > ol > li:nth-child(even) {
  color: #4caf50;
}

ol[test-id='ol1'] {
  color: rgb(235, 64, 52);
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type='text']:focus {
  border-color: #4caf50;
  outline: none;
}
